body {
	display: grid;
	grid-template-columns: auto; 
	grid-template-rows: auto;
	gap: 20px;
	grid-template-areas: 
	"header header header header"
	"section section . . "
	"form form"
	"footer footer footer footer"
}

.header {
	display: grid;
	grid-area: header;
}

.section {
	grid-area: section;
}

.form {
	grid-area: form;
}

.footer {
	grid-area: footer;
}

fieldset {
	background-color: white;
}

legend {
	background-color: white;
}

